<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with Llama 2</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="chat-container">
        <div id="chat-box" class="chat-box"></div>
        <div class="input-container">
            <label for="user-input"></label><input type="text" id="user-input" placeholder="Type a message..." autocomplete="off" />
            <button id="send-btn">Send</button>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
